<%- include('templates/header.ejs') %>
<main>
    <div>
        <h1>Programming Languages</h1>
    </div>
    
    <div>
        <figure id="me">
                <img id="profilePicture" src="./img/cplus.png">
        </figure>
    </div>
    
    <div style="display:flex; justify-content:center;">
        
    <div  id="welcomeText">
            <br>
                <h2>Programming Language: C++ </h2>
            <br/>

            <!--<p id = "size">Programming languages are a form to be able to communicate with the computer.</p>-->
            <h2>History of C ++ </h2>
            <br><br/>
            <p id = "size"> In 1843 there was the first Programming Language created by Ada Lovelace.  </p>
           
        

    </div>
</main>
<%- include('templates/footer.ejs') %>