<%- include('templates/header.ejs') %>
<main>
    <div>
        <h1>Programming Languages</h1>
    </div>
    
    <div>
        <figure id="me">
                <img id="profilePicture" src="./img/popularity.jpg">
        </figure>
    </div>
    
    <div style="display:flex; justify-content:center;">
        
    <div  id="welcomeText">
            <br>
                <h2>What is a Programming Language? </h2>
            <br/>
            <p id = "size"> Programming Languages are languages that are contructed by a set of Instruction. Programming languages are a form to be able to communicate with the computer</p>
            <!--<p id = "size">Programming languages are a form to be able to communicate with the computer.</p>-->
            <h2>History of Pogramming Languages</h2>
            <br><br/>
            
            <!--<p id = "size">Programming languages are a form to be able to communicate with the computer.</p>-->
            
            <br><br/>
            <p id = "size"> In 1843 there was the first Programming Language created by Ada Lovelace.  </p>
            <p id = "size"> The programming language developed by Lovelace was used to calculate Bernoulli's numbers</p>
            <p id = "size"> When the spark of modern computers being manufactured </p>
            
          
    </div>
        

    </div>
</main>
<%- include('templates/footer.ejs') %>