<%- include('templates/header.ejs') %>

<br/><br/>
<main>
<div>
    <figure id="me">
        <img  src="./img/imageJava.jpg">
    </figure>
</div>
<div style="display:flex; justify-content:center;">
    <div  id="welcomeText">
            <br>
                <h2>Programming: Language</h2>
            <br/>
            <p id = "size"> Java was created in 1996 by the Green Team</p>
            <!--<p id = "size">Programming languages are a form to be able to communicate with the computer.</p>-->
            <h2>History of Java</h2>
            <br><br/>
            <p id = "size"> In 1896 there was the first Programming Language created by Ada Lovelace.  </p>  
  </div>
</div>
</main>
<%- include('templates/footer.ejs') %>