<%- include('templates/header.ejs') %>
<main>
    <div>
        <h1>Programming Languages</h1>
    </div>
    
    <div>
        <figure id="me">
                <img id="profilePicture" src="./img/image.jpeg">
        </figure>
    </div>
    
    <div style="display:flex; justify-content:center;">
        
    <div  id="welcomeText">
            
           <br>
                <h2>References </h2>
            <br/>
            <p id = "size">Links: </p>
            <p id = "size">https://codinginfinite.com/wp-content/uploads/2019/08/popularity-2015-19-line.jpg </p>
            <p id = "size">https://www.computerhope.com/history/programming.htm </p>
            <p id = "size">http://www.pcs.udel.edu/history-of-computer-programming-infographic/</p>
    </div>
        

    </div>
</main>
<%- include('templates/footer.ejs') %>