<!DOCTYPE html>
<html>
<!--

First Website
and comment
in html
(comments can span multiple lines)

-->

<!-- This is the head -->
<!-- All styles and javascript go inside the head -->

<head>
    <title>Assignment1</title>
    <link href="../../stylesheets/labs/portfolio/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">


</head>

<!-- closing head -->

<body>

    <nav>
        <!--<span class="txt">Some Text</span>-->
        <hr width="50%" />
        <a class="txt" href="index"> Home </a>
        <a class="txt" href="about"> Java </a>
        <a class="txt" href="contact"> C++ </a>
        <a class="txt" href="contact"> Python </a>
    </nav>
    <br/><br/>
    <main>
        <div>
            <h1>Programming Languages</h1>
        </div>
        <div style="display:flex; justify-content:center;">
        <div  id="welcomeText">
                Hello <br/>
                <p id = "size">Programming Languages are languages that are contructed by a set of Instruction.</p>
                <p id = "size"> </p>
                <p id = "size"> </p>
            </div>

        </div>
    </main>


    <!-- This is the body -->
    <!-- This is where we place the content of our website -->



    <!-- This is the footer -->
    <!-- The footer goes inside the body but not always -->
    <footer >
        <hr> CST 336 ; Torrez Hernandez <br/>
        <strong>Disclaimer</strong>The information on the website is ficticious.<br/> It is used for academic purposes only.

        <figure>
            <img id="logo" src="../../images/labs/portfolio/csumbLogo.png">
        </figure>

    </footer>
    <!-- closing footer -->

</body>
<!-- closing body -->

</html>
