<!DOCTYPE html>
<html>
    <head>
    <title>Assignment1</title>
    <link href="../../stylesheets/assignments/assignment1/styles.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    </head>
                
     <!-- closing head -->  
       
    <nav>
        <hr width="50%"/>
        <a class="txt" href="index"> Home </a>
        <a class="txt" href="java"> Java </a>
        <a class="txt" href="cpluplus"> C++ </a>
        <a class="txt" href="contact"> Python </a>
        <a class="txt" href="reference"> References </a>
    </nav>
    <br/><br/>
      <div>
            <figure id="me">
                    <img  src="../../images/assignments/assignment1/imageJava.jpg">
            </figure>
        </div>
    <div style="display:flex; justify-content:center;">
    <div  id="welcomeText">
                <br>
                    <h2>Programming: Language</h2>
                <br/>
                <p id = "size"> Java was created in 1996 by the Green Team</p>
                <!--<p id = "size">Programming languages are a form to be able to communicate with the computer.</p>-->
                <h2>History of Java</h2>
                <br><br/>
                <p id = "size"> In 1896 there was the first Programming Language created by Ada Lovelace.  </p>
              
  </div>
    
    
<div id = "content">
    <!--Create the table to hold experience data -->
    
</div>
<!--<div>-->
<!--    <ul>-->
<!--        <li><span class = "hobby">Music</span>: I enjoy listening to music but my favorite is soothing music.</li>-->
<!--        <li><span class = "hobby">Programming</span>: I enjoy programming and working with 3D models</li>-->
<!--        <li><span class = "hobby">Anime</span>:I enjoy watching anime in my free time.</li>-->
<!--    </ul>-->
<!--</div>-->
</html>