<<!DOCTYPE html>
<html>
    

 <head>
        <title>Personal Portfolio</title>
        <link href = "../../stylesheets/labs/portfolio/styles.css" rel = "stylesheet" type = "text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    </head>
                
     <!-- closing head -->  
       
    <nav>
        <hr width = "50%" />
        <a href = "index"> Home </a>
        <a href = "about"> About </a>
        <a href = "contact"> Contact </a>
    </nav>
    
    <br/><br/>
<div id = "content">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScpo3K1gBgYBFNLU4JcwMnA32H22YsIjjdISgjvKEAkSb9Yvg/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>
</html>