<!DOCTYPE html>
<html>
<!--

First Website
and comment
in html
(comments can span multiple lines)

-->

<!-- This is the head -->
<!-- All styles and javascript go inside the head -->

<head>
    <title>Personal Portfolio</title>
    <link href="../../stylesheets/labs/portfolio/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
</head>

<!-- closing head -->

<body>

    <nav>
        <hr width="50%" />
        <a href="index"> Home </a>
        <a href="about"> About </a>
        <a href="contact"> Contact </a>
    </nav>
    <br/><br/>
    <main>

        <h1>Yessica Torrez Hernandez</h1>
        <figure id="me">
            <img id="profilePicture" src="../../images/labs/portfolio/juan_doe.png">
        </figure>


        <div id="welcomeText">
            Hello <br/>
            <p>Thank you for visiting my professional portfolio website</p>
            <p>I am a software intern working for Smart Wash Solutions</p>
        </div>
    </main>


    <!-- This is the body -->
    <!-- This is where we place the content of our website -->



    <!-- This is the footer -->
    <!-- The footer goes inside the body but not always -->
    <footer>
        <hr> CST 336 ; Torrez Hernandez <br/>
        <strong>Disclaimer</strong>The information on the website is ficticious.<br/> It is used for academic purposes only.

        <figure>
            <img id="logo" src="../../images/labs/portfolio/csumbLogo.png">
        </figure>

    </footer>
    <!-- closing footer -->

</body>
<!-- closing body -->

</html>
