<footer >
    <hr> CST 336 ; Torrez Hernandez <br/>
    <strong>Disclaimer</strong>The information on the website is ficticious.<br/> It is used for academic purposes only.

    <figure>
        <img id="logo" src="./img/csumbLogo.png">
    </figure>
    
</footer>
<!-- closing footer -->
</body>
<!-- closing body -->
</html>
