<!DOCTYPE html>
<html>
<!--
First Website
and comment
in html
(comments can span multiple lines)
-->
<!-- This is the head -->
<!-- All styles and javascript go inside the head -->
<head>
    <title>Assignment1</title>
    <link href="./css/styles.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
</head>

<!-- closing head -->
<body>
    <nav>
        <!--<span class="txt">Some Text</span>-->
        <hr width="50%"/>
        <a class="txt" href="/assignments/assignment4/"> Home </a>
        <a class="txt" href="/assignments/assignment4/java"> Java </a>
        <a class="txt" href="/assignments/assignment4/cplusplus"> C++ </a>
        <a class="txt" href="/assignments/assignment4/reference"> References </a>
    </nav>
    <br/><br/>